@import "./variableScss.scss";

@media (max-width: 600px) {
    .cardContainerStyles {
        position: $positionAbsolute;
        grid-template-columns: 1fr;
        width: 100%;
        column-gap: 5px;
        align-content: space-around;
        text-align: -webkit-center;
    } 
    .imageStyle {
        width: 15%;
    }
}

@media (min-width: 600px) {
    .cardContainerStyles {
        position: $positionAbsolute;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        place-items: center;
        align-content: space-around;
        text-align: -webkit-center;
    }
    .imageStyle {
        width: 15%;
    }
}

@media (min-width: 900px) {
    .cardContainerStyles {
        position: $positionAbsolute;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        place-items: center;
        align-content: space-around;
        text-align: -webkit-center;
    }
}

@media (min-width: 1200px) {
    .cardContainerStyles {
        position: $positionAbsolute;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        place-items: center;
        align-content: space-around;
        text-align: -webkit-center;
    }
    .imageStyle {
        width: 20%;
    }
}

.clearStyle {
    clear: both;
}

.visibleStyle {
    position: relative;
}

.cardStyle {
     width: 100%;
     margin-top: 10px;
     & .imageDiv {
        width: 96%;
        height: 60%;
        background-color: rgb(33, 206, 70);
        & .posterImage {
            width: 100%;
            height: 100%;
        }
     };
     & .imageDataDiv {
        width: 96%;
        background-color: #3c3b42;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        display: grid;
        & .cardTitle {
            font-size: 134%;
            font-weight: 600;
        };
        & .cardReleaseDate {
            font-size: 100%;
            font-weight: 600;
        };
        & .cardRank {
            font-size: 100%;
            font-weight: 600;
        }
     };
}

.cardStyle:hover {
    color: #fff;
}

.orderSelectStyle {
    background-color: #443d3d;
    height: 6vh;
    padding-top: 15px;
    font-weight: 600;
    opacity: 0.5;
    & label {
        margin: 0 20px;
        color: burlywood;
    };
    & select {
        width: 20%;
        height: 72%;
        border-radius: 2px;
    };
}

.popUpBody {
    position: fixed;
    background: #4c504f;
    margin: 1vw 1vh;
}

.popUpBody ul {
    list-style-type: none;
}

.titleStyle {
    font-weight: 800;
    padding: 20px 0;
    font-size: 150%;
}

.synopsisStyle {
    margin-right: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 108%;
}

.dateStyle {
    font-weight: 600;
    color: #4ea9a9;
    font-size: 102%;
}

.buttonStyle {
    height: 26px;
    width: 78px;
    display: inline-block;
    border-radius: 4px;
    background-color: #20407e;
    font-weight: 500;
    color: #a0bfc3;
    font-size: 14px;
    padding-top: 5px;
    margin-left: 42%;
    margin-bottom: 14px;
    text-align: center;
}
