@import "./variableScss.scss";

@media (max-width: 600px) {
    .cardStyle {
        background-color: $backgroundColor;
        margin: $commonMargin;
        display: $commonDisplay;
    }
    .imageStyle {
        width: 15%;
    }
}

@media (min-width: 600px) {
    .cardStyle {
        background-color: $backgroundColor;
        margin: $commonMargin;
        display: $commonDisplay;
        width: 64%;
        margin-left: 18%;
        margin-top: 10px;
        z-index: 200;
        text-align: $commonTextAlign;
    }
    .imageStyle {
        width: 15%;
    }
}

@media (min-width: 900px) {
    .cardStyle {
        background-color: rgb(55, 61, 59);
        display: $commonDisplay;
        width: 64%;
        margin-left: 18%;
        margin-top: 10px;
        z-index: 200;
        text-align: $commonTextAlign;
    }
}

@media (min-width: 1200px) {
    .cardStyle {
        background-color: rgb(162, 163, 175);
        display: $commonDisplay;
        width: 64%;
        margin-left: 18%;
        margin-top: 10px;
        z-index: 200;
        text-align: $commonTextAlign;
    }
    .imageStyle {
        width: 20%;
    }
}

@media (min-width: 1536px) {
    .cardStyle {
        background-color: rgb(73, 46, 16);
        display: $commonDisplay;
        width: 72%;
        margin-left: 14%;
        margin-top: 10px;
        z-index: 200;
        text-align: $commonTextAlign;
    }
    .imageStyle {
        width: 20%;
    }
}

.orderSelectStyle {
    background-color: rgb(58, 50, 40);
    height: 50px;
    padding-top: 15px;
    font-weight: 600;
    & label {
        margin: 0 20px;
        color: burlywood;
    };
    & select {
        width: 300px;
        height: 38px;
        border-radius: 2px;
    };
}

.cardContainerStyles {
    display: block;
}

.cardStyle:hover {
    background-color: rgb(121, 128, 125);
    color:rgb(14, 39, 39)
}

.cardText {
    margin-top: 10%;
    font-size: 24px;
    margin-left: 6%;
    font-weight: 600;
}

.popUpBody {
    position: fixed;
        top: 50%;
        left: 50%;
        background: rgb(35, 214, 155);
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -250px;
        z-index: 200;
        text-align: $commonTextAlign;
        border-radius: 5px;
}

.popUpBody ul {
    list-style-type: none;
}

.titleStyle {
    font-weight: 800;
    padding: 20px 0;
    font-size: large;
}

.synopsisStyle {
    margin-right: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}

.dateStyle {
    font-weight: 600;
    color: rgb(14, 39, 39);
}

.buttonStyle {
    height: 26px;
    width: 78px;
    display: inline-block;
    border-radius: 4px;
    background-color: #4b505a;
    font-weight: 500;
    color: #28ccdd;
    font-size: 14px;
    padding-top: 5px;
}